.cancel-button {
  -fx-text-fill: #115d58;
  -fx-background-radius: 15;
  -fx-border-radius: 15;
  -fx-background-color: white;
  -fx-effect: dropshadow(gaussian, #115d58, 4, 0, 0, 0);
}
.cancel-button:hover {
  -fx-effect: dropshadow(gaussian, #115d58, 6, 0, 0, 0);
}
.main-pane {
  -fx-background-color: white;
  -fx-border-color: #115d58;
  -fx-background-radius: 25;
  -fx-border-radius: 25;
  -fx-border-width: 2;
}

.confirm-button {
  -fx-background-color: #115d58; 
  -fx-text-fill: white;
  -fx-background-radius: 15;
  -fx-border-radius: 15;
}
.confirm-button:hover {
  -fx-background-color: #0a4a4a;
}
.delete-btn {
  -fx-background-color: #b00c0f;
  -fx-text-fill: white;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.38), 10, 0, 0, 4);
}
.delete-btn:hover {
  -fx-background-color: #8a090a;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.55), 14, 0, 0, 5);
}
