.main-pane{

    -fx-background-color: white; /* الخلفية بيضاء */  /* لون البوردر */
    -fx-border-radius: 25;        /* راديس للزوايا */
    -fx-background-radius: 25;  
   -fx-border-width: 2;
    -fx-border-color: #115d58;
}
.maintime-pane{

    -fx-background-color: white; /* الخلفية بيضاء */  /* لون البوردر */
    -fx-border-radius: 10;        /* راديس للزوايا */
    -fx-background-radius: 10;  
    -fx-effect: dropshadow(gaussian, #115D58, 4, 0, 0, 0);
}
.time-pane{
    -fx-background-color: white;
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
    -fx-effect: dropshadow(gaussian, rgba(23, 123, 117, 0.1), 4, 0.3, 0, 0);
}
.time-labels{
    -fx-text-fill: #BEC0BF;
}

.detection-pane{

    -fx-background-color: rgba(38, 166, 113, 0.80); /* opacity 50% */

    -fx-border-width: 0.5;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

.detection-pane:hover {
    
    -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.15), 8, 0.1, 0, 2);
}

.detection-pane:pressed {
   
    -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.15), 8, 0.1, 0, 2);
}

.recommendation-pane{
    -fx-background-color: rgba(112, 34, 185, 0.5);
    -fx-border-width: 0.5;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}
.recommendation-pane:hover {
    
    -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.15), 8, 0.1, 0, 2);

}

.recommendation-pane:pressed {
   
    -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.15), 8, 0.1, 0, 2);

}

.enforce-pane{
    -fx-background-color: rgba(178, 33, 33, 0.48);
    -fx-border-width: 0.5;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}
.enforce-pane:hover {
    
    -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.15), 8, 0.1, 0, 2);
}


.enforce-pane:pressed {
   
    -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.15), 8, 0.1, 0, 2);
}



.card-labels{
    -fx-text-fill: white;
}

.start-button{

    -fx-background-color: #115D58;/*c5c757*/
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}
.start-button:hover {
    -fx-background-color: #0a4a4a;
  
}

.start-button:pressed {
    -fx-background-color: #083838;
    
}