
.next-btn,.add-btn{
    -fx-background-radius: 15;
  -fx-background-color: #115d58;
  -fx-text-fill: white;
  -fx-alignment: center;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.38), 10, 0, 0, 4);
}
.add-btn{
-fx-background-radius: 25;
}
.next-btn:hover,.add-btn:hover {
  -fx-background-color: #0a4a4a;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.55), 14, 0, 0, 5);
}
.next-btn:pressed,.add-btn:pressed {
  -fx-background-color: #083838;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.2), 4, 0, 0, 1);
 
}