.all-panes {
  -fx-background-color: white;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-effect: dropshadow(gaussian, #115d58, 4, 0, 0, 0);
}

.search-field {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
  -fx-font-size: 24px;
}

.search-field:prompt-text {
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
}

.combo-box {
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-background-color: white;
  -fx-padding: 0 0 0 10;
  -fx-text-fill: #0b3e3a;
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
}

.combo-box .list-cell {
  -fx-text-fill: #0b3e3a;
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
}

.combo-box .arrow {
  -fx-background-color: #0b3e3a;
}

.combo-box .arrow-button {
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
  -fx-shape: null;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-pref-width: 6;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: gray;
  -fx-background-radius: 10;
  -fx-background-insets: 0;
  -fx-pref-height: 207px;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
}
.details-pane {
  -fx-background-color: transparent;
  /* -fx-effect: dropshadow(gaussian, #115d58, 4, 0, 0, 0); */
  -fx-border-radius: 20;
  -fx-background-radius: 20;
}
.time-banes {
  -fx-background-color: white;
  -fx-effect: dropshadow(gaussian, #115d58, 4, 0, 0, 0);
  -fx-border-radius: 10;
  -fx-background-radius: 20;
}

.time-label {
  -fx-fill: #bec0bf;
}

/* .bold-labels {
  -fx-font-family: "K2D";
  -fx-font-weight: 700;
} */

.time-panes {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-effect: dropshadow(gaussian, rgba(23, 123, 117, 0.1), 4, 0.3, 0, 0);
  -fx-alignment: center;
  -fx-padding: 10 8 10 8;
}

.secondtime-panes {
  -fx-background-color: white;
   -fx-effect: dropshadow(gaussian, rgba(23, 123, 117, 0.1), 4, 0.3, 0, 0);
  -fx-border-radius: 10 ;
  -fx-background-radius: 10 ;
}
.minutes-panes {
  -fx-alignment: center;
  -fx-padding: 10 8 10 8;
}

.team-label {
  -fx-background-color: rgba(185, 107, 34, 0.2);
  -fx-text-fill: #5c3511;
  -fx-background-radius: 25;
  -fx-border-radius: 25;
}

.description {
  -fx-text-fill: #787878;
}

/* .regular-labels {
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
} */
.date-picker {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-font-family: "K2D";
    -fx-font-weight: 400;
    -fx-font-size: 24px;
  }
.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.date-picker:focused {
   -fx-graphic-text-gap: 0;
    -fx-content-display: LEFT;
    -fx-border-color: transparent;
}
.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.date-picker .arrow-button:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.date-picker-popup .day-cell {
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-font-size: 15px;
    -fx-padding: 0;
}
.bubble-card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: dropshadow(gaussian, #115d58, 4, 0, 0, 0);
  }