.main-container {
    -fx-background-color: white;
}


.main-pane{
    -fx-background-color: white;
    -fx-border-radius: 20;       
    -fx-background-radius: 20; 
    -fx-border-width: 2; 
    -fx-effect:
    innershadow(gaussian, #7022B9, 10, 0.2, 0, 0);
   
}

.recommendation-label{

    -fx-background-color: rgba(70, 13, 175, 0.2);
    -fx-text-fill: #54188D;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.all-panes{

    -fx-background-color: white; 
    -fx-border-radius: 10;      
    -fx-background-radius: 10; 
    -fx-effect: dropshadow(gaussian, #177B75, 4, 0.1, 0, 0);
   
}
.delete-button {
    -fx-text-fill: white;
    -fx-background-color: #B00020;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-background-color: #C62828;
}

.describtion-labels{

    -fx-text-fill: #787878;
}
.inner-banes{
    -fx-background-color: white;
    -fx-border-width: 0 0 0.25 0; 
    -fx-border-color: transparent transparent #7878784D transparent;
}

.scroll-pane {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
    -fx-border-radius: 10;      
    -fx-background-radius: 10; 
  
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
  -fx-shape: null;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-pref-width: 6;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: gray;
  -fx-background-radius: 10;
  -fx-background-insets: 0;
  -fx-pref-height: 207px;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
}
.pause-btn{
    -fx-cursor: hand;
}
.circle{
    -fx-fill: transparent;
     -fx-stroke: lightgray;
}

.all-labels{
    -fx-text-fill: #0B3E3A;
}

