.navbar-pane,
.navBar {
  -fx-background-color: #177b75;
}

.text-font {
  -fx-font-family: "K2D";
}

.title-font {
  -fx-font-family: "K2D";
  -fx-font-weight: 700;
}

.label-text {
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
  -fx-fill: black;
}

.value-text {
  -fx-font-family: "K2D";
  -fx-font-weight: 400;
  -fx-fill: red;
}

.user-card {
  -fx-background-color: white;
  -fx-background-radius: 20;
}

.profileImgContainer {
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.38), 10, 0, 0, 4);
  -fx-background-radius: 50;
  -fx-background-color: white;
}

.plan-pane {
  -fx-background-color: rgba(34, 185, 175, 0.2);
  -fx-background-radius: 30;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.38), 10, 0, 0, 4);
}

.settingsBtn {
  -fx-background-color: #177b75;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(gaussian, rgba(13, 92, 92, 0.38), 10, 0, 0, 4);
}

.navTabs {
  -fx-background-color: #177b75;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.38), 10, 0, 0, 0);
}

.activeNavTabs {
  -fx-background-color: #ffff;
  -fx-text-fill: #177b75;
}