@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Bold.ttf');
    font-weight: 700;
}

.root {
    -fx-font-family: 'K2D';
    -fx-background-color: linear-gradient(to right, #22B9AF, #115D58);
}

.side-image {
    -fx-background-image: url("../images/register-img.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-radius: 25;
}

.image-gradient {
    -fx-background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(34, 185, 175, 0.25));
}

.error-field {
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-border-color: #FF1B1B;
}

.error-field:focused {
    -fx-border-color: #FF1B1B;
}