@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Regular.ttf');
    font-weight: 400; 
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-SemiBold.ttf');
    font-weight: 600; 
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Bold.ttf');
    font-weight: 700; 
}
#passwordErrorMsg
{
    -fx-font-family: 'K2D';
    -fx-text-fill: #FF1B1B;
    -fx-font-weight: 400 ;

}
#confirmpasswordErrorMsg
{
    -fx-font-family: 'K2D';
    -fx-text-fill: #FF1B1B;
    -fx-font-weight: 400 ;

}

#rootPane {
    -fx-background-color: linear-gradient(to top right, #177B75, #115D58, #0B3E3A);
}
#passwordLabel,
#confirmPasswordLabel {
    -fx-font-family: 'K2D';
    -fx-text-fill: #0B3E3A;
    -fx-font-weight: 400 ;
}
#passwordField,
#confirmPasswordField {
    -fx-background-radius: 20 20 20 20; 
    -fx-font-family: 'K2D';
    -fx-font-weight: 400;
}

#saveButton {
    -fx-background-color: #045e56;
    -fx-text-fill: white;
    -fx-font-family: 'K2D';
    -fx-font-weight: 400;
    -fx-background-radius: 20 20 20 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 5);

}

#saveButton:hover {
    -fx-background-color: #067a70;
}