/* ===== MAIN CONTAINER ===== */
.main-container {
    -fx-background-color: linear-gradient(to right, #22B9AF, #115D58);

}

/* ===== CARD ===== */
.card {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 25, 0, 0, 10);
}

/* ===== LEFT SIDE ===== */
.left-side {
    -fx-background-image: url("../images/register-img.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-overflow: hidden;
}

/* .left-overlay {
    -fx-background-color: #115d584d;
      -fx-background-radius:  18 ;
} */
.header-label {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.sub-label {
    -fx-font-size: 16px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-padding: 15px 0px;
}

.login-btn {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 20px;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-pref-width: 180px;
    -fx-pref-height: 45px;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

/* ===== RIGHT SIDE ===== */
.form-side {
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-padding: 40px 60px;

}

/* ===== FORM LABELS ===== */
.field-label {
    -fx-font-size: 14px;
    -fx-text-fill: #0B3E3A;
    -fx-padding: 0 0 0 60px;

}

/* ===== INPUT FIELDS ===== */
.input-field {

    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-color: #FAFAFA;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-pref-height: 50px;
    -fx-pref-width: 250px;
    -fx-padding: 0 15px 0 10px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #bbb;
}

/* ===== EYE BUTTON ===== */
.eye-btn {
    -fx-background-image: url("../images/eye-icon.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
    -fx-padding: 0 30px 0 0;
    -fx-background-color: transparent;
}

.input-field:focused {
    -fx-border-color: #177B75;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(23, 123, 117, 0.2), 6, 0, 0, 0);
}

/* ===== REGISTER BUTTON ===== */
.register-btn {
    -fx-background-color: #115D58;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 48px;
    -fx-cursor: hand;

}

.register-btn:hover {
    -fx-background-color: #0e4e4a;
}

.register-btn:pressed {
    -fx-background-color: #0a3d39;
}