
@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Regular.ttf');
    font-weight: 400; 
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D-Bold.ttf');
    font-weight: 700; 
}
/* ===== ROOT BACKGROUND ===== */
.root {
     -fx-font-family: 'K2D';
    -fx-background-color: linear-gradient(to right, #22B9AF, #115D58);
}
.logo {
    -fx-background-image: url("../images/Logo.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/* ===== CARD ===== */
.card {
    -fx-background-color: #edf7f7;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.28), 30, 0, 0, 8);
    -fx-border-color: #b8dde0;
    -fx-border-radius: 20;
    -fx-border-width: 1.5;
}

/* ===== BACK BUTTON ===== */
.back-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 32px;
    -fx-text-fill: #444444;
    -fx-cursor: hand;
    -fx-padding: 15px 10px 10px 20px ;
}
.back-btn:hover {
    -fx-text-fill: #000000;
}

/* ===== TITLE ===== */
.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a1a2e;
}

/* ===== SUBTITLE ===== */
.subtitle-label {
    -fx-font-size: 14px;
    -fx-text-fill: #555555;
    -fx-alignment: center;
}

/* ===== OTP TEXT FIELDS ===== */
.otp-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #ccd6dd;
    -fx-border-radius: 12;
    -fx-border-width: 1.5;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
    -fx-alignment: center;
    -fx-pref-height: 76px;
    -fx-pref-width: 86px;
    -fx-max-width: 86px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.07), 5, 0, 0, 2);
}
.otp-field:focused {
    -fx-border-color: #00b89c;
    -fx-border-width: 2.5;
    -fx-effect: dropshadow(gaussian, rgba(0,184,156,0.28), 10, 0, 0, 0);
}

/* ===== RESEND LABEL ===== */
.resend-label {
    -fx-font-size: 13px;
    -fx-text-fill: #555555;
    -fx-padding: 0px;
}

/* ===== HYPERLINK ===== */
.resend-link {
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-underline: true;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}
.resend-link:hover {
    -fx-text-fill: #00b89c;
}

/* ===== SEPARATOR ===== */
.separator .line {
    -fx-border-color: #c5d5d5;
    -fx-border-width: 1 0 0 0;
}

/* ===== CANCEL BUTTON ===== */
.cancel-btn {
    -fx-background-color: transparent;
    -fx-border-color: #aab8bc;
    -fx-border-radius: 15px;
    -fx-background-radius: 22;
    -fx-border-width: 1.5;
    -fx-font-size: 14px;
    -fx-text-fill: #555555;
    -fx-cursor: hand;
    -fx-pref-height: 44px;
    -fx-pref-width: 148px;
}
.cancel-btn:hover {
    -fx-border-color: #0d5c5c;
}

/* ===== VERIFY BUTTON ===== */
.verify-btn {
    -fx-background-color: #0d5c5c;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-font-size: 14px;
    -fx-border-width: 1.5;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-pref-height: 44px;
    -fx-pref-width: 148px;
    -fx-effect: dropshadow(gaussian, rgba(13,92,92,0.38), 10, 0, 0, 4);
}
.verify-btn:hover {
    -fx-background-color: #0a4a4a;
    -fx-effect: dropshadow(gaussian, rgba(13,92,92,0.55), 14, 0, 0, 5);
}
.verify-btn:pressed {
    -fx-background-color: #083838;
    -fx-effect: dropshadow(gaussian, rgba(13,92,92,0.2), 4, 0, 0, 1);
}